.game_container {
    width: 800px;
    height: 700px;
    background-color: black;
}

.col_dropper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col_dropper button {
    width: 25px;
    height: 25px;
}

.board {
    display: grid;
    height: 650px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.circle {
    display: flex;
    height: 80px;
    width: 80px;
    background-color: white;
    align-self: center;
    justify-self: center;
}

.red_win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 200px;
    width: 400px;

    color: red;
    background-color: black;
    border: 3px solid white;
}

.yellow_win {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 200px;
    width: 400px;

    color: yellow;
    background-color: black;
    border: 3px solid white;
}

.disabled_btn {
    background-color: gray;
    border: solid lightgray 3px;
}
