body {
    color: red;
}

.game_board {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: auto;
    background-color: blue;
    height: 600px;
    width: 700px;
    padding-top: 5px;
}

.circle {
    /* for the nums in the center, can prolly be removed later */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 5px;
}

#green_bg {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background-color: green;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin: 5px;
}
